<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static "style1.css"%}/">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/Home/">Home</a>
      <a href="/about/">About</a>
      <a href="/courses/">Course Offered</a>
      <a href="Create">Admissions</a>
      <a href="/Achievements/">Achievements</a>
      <a href="/Contact/">contact Us</a>
    </nav>
    <marquee > HELLO WELCOME TO PAVAN GROUP OF INSTITUTION PLEASE REGISTER SEATS ARE LIMITED  </marquee>


    <h2>WELCOME TO PK GROUP OF INSTITUTIONS <br>WHERE YOU ACHIEVE YOUR GOAL</h2>
    <div class="pavan">
    <p> Our pavan group of institution is an educational institution designed to provide learning spaces and learning environments for the teaching of students under the direction of teachers. Most countries have systems of formal education, which is sometimes compulsory.
      In these systems, students progress through a series of their courses.Our main motive is provide a good coaching to get your dream job in any career you choose
    </p>
    <img src="{% static "app1/lap.jpg"%}"/>

    </div>
  </body>
</html>
