{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static "style4.css"%}/">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/Home/">Home</a>
      <a href="/about/">About</a>
      <a href="/courses/">Course Offered</a>
      <a href="/Create/">Admissions</a>
      <a href="/Achievements/">Achievements</a>
      <a href="/Contact/">contact Us</a>
    </nav>
  <marquee > HELLO WELCOME TO PAVAN GROUP OF INSTITUTION PLEASE REGISTER SEATS ARE LIMITED  </marquee>
    <h2>WELCOME TO PK GROUP OF INSTITUTIONS <br>WHERE YOU ACHIEVE YOUR GOAL</h2><hr>
    <h2>INDIA'S NO.1 ONLINE & OFFLINE COACHING CENTER</h2><hr>
    <h2>Heartly Congratulations to our students Who Are placed in 2023</h2>

    <div class="std">
      <div class="y">
        <img src="{% static "std.jpg"%}"/>
        <ul>
          <li>Name:Pavan</li>
          <li>Company:HCl</li>
          <li>Salary:5 LPA</li>
          <li>Full Stack PythonDeveloper</li>
        </ul>


      </div>
      <div class="y">
        <img src="{% static "std2.png"%}"/>
        <ul>
          <li>Name:Rajesh</li>
          <li>Company:HCl</li>
          <li>Salary:6 LPA</li>
          <li>Full Stack PythonDeveloper</li>
        </ul>
        </div>
        <div class="y">
          <img src="{% static "std.jpg"%}"/>
          <ul>
            <li>Name:RajRed</li>
            <li>Company:Dell</li>
            <li>Salary:8 LPA</li>
            <li>Data Scientist</li>
          </ul>


        </div>

    </div>
    <h3>"We have Best Faculty in Every Department <br>Who had atleat 10+ years of Industry Experience"</h3>
