<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static "style2.css"%}/">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/Home/">Home</a>
      <a href="/about/">About</a>
      <a href="/courses/">Course Offered</a>
      <a href="/Create/">Admissions</a>
      <a href="/Achievements/">Achievements</a>
      <a href="/Contact/">contact Us</a>
    </nav>
    <marquee > HELLO WELCOME TO PAVAN GROUP OF INSTITUTION PLEASE REGISTER SEATS ARE LIMITED  </marquee>
    <h2>WELCOME TO PK GROUP OF INSTITUTIONS <br>WHERE YOU ACHIEVE YOUR GOAL</h2><hr>
    <h2>INDIA'S NO.1 ONLINE & OFFLINE COACHING CENTER</h2><hr>
    <div class="PAVAN">
      <ul>
      <h3><li>100+ Jobs in top Companies</li></h3>
      <h3><li>Career Mentoring and Interview Preparation</li></h3>
      <h3><li>1000+ Hiring Partners</li></h3>
        </ul>
      </div>
      <h4>Courses Offered</h4><hr>
      <div class="kalyan">
        <div class="courses">
            <img src="{% static "aws.jpg"%}"/>
          <h4>AWS Certification Course</h4>
          <p>AWS couse in PAVAN GROUP OF TECHMNOLOGIES,One of the top notch in AWS Institute,aim to build flourishing carrer in Computing..</p>
        <ul type="disc">
        <li>Duration:5 Months</li>
      <li>Mentor:5-1,& Job Support</li>
        <li>Average Salary:5 Lpa</li>
        <li>Average Salary Hike:90%</li>
        </ul>
        </div>
        <div class="courses">
          <img src="{% static "datascience.jpg"%}"/>
          <h4>Data Science Course</h4>
          <p>With a Data Science Course, you can be to gain valuable insights from both structured and unstrucred data...</p>
        <ul type="disc">
        <li>  Duration:8 Months</li>
        <li>Mentor:5-1,& Job Support</li>
        <li>Average Salary:9 Lpa</li>
        <li>Average Salary Hike:80%</li>
        </ul>
        </div>
        <div class="courses">
          <img src="{% static "python.png"%}"/>
          <h4>FULL STACK PYTHON DEVELOPER</h4>
          <p>FULL STACK PYTHON DEVELOPER,Will teach you how the frontend and backend are used to make webpages....</p>
        <ul type="disc">
        <li>  Duration:6 Months</li>
        <li>Mentor:5-1,& Job Support</li>
        <li>Average Salary:8 Lpa</li>
        <li>Average Salary Hike:95%</li>
        </ul>
        </div>

      </div>
  </body>
</html>
