<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static "style.css"%}/">
    <title></title>
  </head>
  <body>
      <nav>
        <a href="/Home/">Home</a>
        <a href="/about/">About</a>
        <a href="/courses/">Course Offered</a>
        <a href="/Create/">Admissions</a>
        <a href="/Achievements/">Achievements</a>
        <a href="/Contact/">contact Us</a>
      </nav>
    <marquee > HELLO WELCOME TO PAVAN GROUP OF INSTITUTION PLEASE REGISTER SEATS ARE LIMITED  </marquee>
    <h2>Welcome to pavan Group of Institutions</h2>

      <h3><span style="color:brown;font-size:30px;width:200px;padding-top:200px;">"If your teacher, coach, or mentor believes you can do something,<br> you're more likely to do it."</span></h3>
      <!-- <img src="{% static "app1/aim.jpg"%}"/> -->

    <!-- <img src="{% static "pavan.png"%}"/>
    <img src="{% static "courses.png"%}"/> -->


  </body>
</html>
